button {
    /* width: 25%; */
    background: #0006;
    /* border-radius: 5px; */
    border-color: #00000090;
    font-size: min(5vh, 7vw);
    text-align: center;
    border-width: 2px;
}

.affichage>* {
    background: none;
    border: 0;
    color: black;
}