:root {
    --anim: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.MeteoItem {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    font-family: 'Open Sans', sans-serif;
    background-color: #4a54b3;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-block: 0.4em;
    margin-inline: 0.2em;
    transition: var(--anim);
    height: 25px;
    width: 180px;
}

.condition_text {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
    font-family: 'Open Sans', sans-serif;
    margin-inline: 0.2em;
}

.location {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    align-items: first baseline;
    padding-inline: 0.2em;
}

.condition {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.temperature {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}

.MeteoItem p {
    margin-inline: 0.15em;
    margin-block: 0;
}

.temperature p::after {
    content: "℃";
}

.resenti {
    font-size: 0.7em;
    transition: var(--anim);
    height: 0px;
    width: 0px;
    overflow: hidden;
}

.resenti::before {
    content: "Resenti:";
}

.province {
    /* display: none; */
    height: 0px;
    overflow: hidden;
    transition: var(--anim);
}


/* --------------------------- */

.courant {
    font-size: 0.8em;
    transition: var(--anim);
}

.condition img {
    height: 3vh;
    object-fit: cover;
    width: 6vh;
    transition: var(--anim);
}

.ville {
    font-weight: 600;
    font-size: 1em;
    transition: var(--anim);
}

.textuelle {
    height: 0px;
    width: 0px;
    overflow: hidden;
    transition: var(--anim);
}


/* --------------------------- */

#meteo.open .location {
    /* border-bottom-width: 1px; */
    /* border-bottom-style: solid; */
}

#meteo.open .textuelle {
    height: 22px;
    width: 78px;
}

#meteo.open .resenti {
    display: block;
    height: 15px;
    width: 80px;
}

#meteo.open .province {
    /* display: block; */
    height: 22px;
}

#meteo.open .MeteoItem {
    /* flex-direction: column; */
    height: 72;
    width: 260px;
}

#meteo.open .condition_text {
    flex-direction: column;
}

#meteo.open .courant {
    font-size: 1.5em;
}

#meteo.open .ville {
    font-weight: 600;
    font-size: 1.2em;
}

#meteo.open .condition img {
    height: 100%;
    /* width: 100%; */
}